<div class="booking">
  <div class="container">
      <% unless @shopping_cart.paid || @shopping_cart.shopping_cart_items.empty? %>

        <div class="order-header">
          <h5>Order Summary</h5>
        </div>
          <div class="order-promotional">
            <p class="small-text-14" style="color:grey">Promotional Code</p>
            <div class="promotional-plus">
              <p style="color:grey"><strong>+</strong></p>
            </div>
          </div>
        <div class="order-table">
          <div class="order-description">
            <p><strong>Subtotal</strong></p>
            <p><strong>Delivery</strong></p>
            <p><strong>Total (incl. Taxes)</strong></p>
          </div>
          <div class="order-price">
            <p><%= number_with_precision(@shopping_cart.total, precision: 2, delimiter: ",") %> €</p>
            <p>Free</p>
            <p><strong><%= number_with_precision(@shopping_cart.total, precision: 2, delimiter: ",") %> €</strong></p>
          </div>
        </div>

        <div class="total">
          <h5><%= number_with_precision(@shopping_cart.total, precision: 2, delimiter: ",") %> €</h5>
        </div>
          <button id="pay" class="btn-flat">CHECKOUT</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @shopping_cart.checkout_session_id %>'
              });
            });
          </script>
          <div class="support">
            <p>Need help? Contact us under</p>
            <p>artist-made@support.com</p>
          </div>
      <% end %>
  </div>
</div>
