<div class="menu-bar">
  <h4>am Artists</h4>

  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "art", arts_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "artist", artists_path, class: "tab-underlined active" %>
    </li>

    <li>
      <%= link_to "theme", root_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "form", root_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "price", root_path, class: "tab-underlined" %>
    </li>
  </ul>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="cards">
         <% @artists.each do |artist| %>
         <%= link_to artist_path(artist) do %>
           <div class="image">
            <%= image_tag artist.url_artists_photo unless artist.url_artists_photo.nil? %>

            <h5><%= artist.last_name %></h5>
            <p><%= artist.art_type %></p>
           </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

