<div class="menu-bar">
  <h5>Discover <strong>am-Creators talent</strong></h5>
  <ul class="list-inline tabs-underlined">
    <li><%= link_to "ART", arts_path, class: "tab-underlined" %></li>
    <li><%= link_to "ARTIST", artists_path, class: "tab-underlined active" %></li>
    <li><%= link_to "THEME", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "FORM", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "PRICE", root_path, class: "tab-underlined" %></li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="cards">
         <% @artist.arts.each do |art| %>
         <div class="image">
          <%= image_tag art.img_url unless art.img_url.nil? %>

          <%= link_to root_path, class: "btn btn-fav" do %>
            <i class="far fa-heart"></i>
          <% end %>
          <%= link_to root_path, class: "btn btn-cart" do %>
            <i class="fas fa-plus"></i>
          <% end %>

          <h5><%= art.title %></h5>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
