<div class="container">
    <h5 class="menu-title mt-4">Select <strong>the perfect Gift</strong></h5>

  <!-- <div class="menu-bar">
  <ul class="list-inline tabs-underlined">
    <li><%= link_to "ART", arts_path, class: "tab-underlined" %></li>
    <li><%= link_to "ARTIST", artists_path, class: "tab-underlined" %></li>
    <li><%= link_to "THEME", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "FORM", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "PRICE", root_path, class: "tab-underlined" %></li>
  </ul>
  </div> -->

<div class="row">
  <div class="col-4">
    <div class="card-body p-4">

    <h5>Selective Items with the touch of an artist</h5>
    <p class="small-text-14">Life is a gift itself, and it offers us the privilege, opportunity, and satisfacion to get a smile because it is not about how much we give, but about how much detail we put into giving. The perfect gift to yourself or for those you care. </p>
    <div class="art-info"><h3><%= @art.title unless @art.nil?%></h3>
    <p><%= "by #{@art.artist.first_name}"  unless @art.nil? %> <%= @art.artist.last_name unless @art.nil? %></p>
    </div>

        <div>
          <nav class="dropdownmenu">
            <ul>
              <li><a href="#">TEXTILE ▾</a>
                <ul id="submenu">
                  <li><a href="#">T-shirt (w)</a></li>
                  <li><a href="#">T-shirt (m)</a></li>
                  <li><a href="#">Hoddies</a></li>
                  <li><a href="#">Tote Bags</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="product-size">
            <h4 class="mt-4">Size</h4>
          <ul class="ul-size">
            <li><a href="#">XS</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#" class="active">L</a></li>
            <li><a href="#">XL</a></li>
          </ul>
        </div>

        <div class="product-color">
            <h4 class="mt-4">Colour</h4>
          <ul class="ul-color">
            <li><a href="#" class="black active"></a></li>
            <li><a href="#" class="grey"></a></li>
            <li><a href="#" class="white"></a></li>
            <li><a href="#" class="red"></a></li>
            <li><a href="#" class="green"></a></li>
            <li><a href="#" class="blue"></a></li>
          </ul>
        </div>

        <div class="prints">
            <nav class="dropdownmenu">
              <ul>
                <li><a href="#">PRINTS ▾</a>
                  <ul id="submenu">
                    <li><a href="#">Small Prints</a></li>
                    <li><a href="#">Postcards</a></li>
                    <li><a href="#">Posters</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
        </div>

        <div class="devices">
            <nav class="dropdownmenu">
              <ul>
                <li><a href="#">CELLPHONE CASES ▾</a>
                  <ul id="submenu">
                    <li><a href="#">iPhone X</a></li>
                    <li><a href="#">iPhone 12</a></li>
                    <li><a href="#">iPhone 11</a></li>
                  </ul>
                </li>
              </ul>
            </nav>

            <nav class="dropdownmenu">
              <ul>
                <li><a href="#">LAPTOP CASES ▾</a>
                  <ul id="submenu">
                    <li><a href="#">MacBook Air</a></li>
                    <li><a href="#">MacBook Pro 13"</a></li>
                    <li><a href="#">MacBook Pro 15"</a></li>
                  </ul>
                </li>
              </ul>
            </nav>

            <nav class="dropdownmenu">
              <ul>
                <li><a href="#">TABLET CASES ▾</a>
                  <ul id="submenu">
                    <li><a href="#">iPad </a></li>
                    <li><a href="#">iPad Pro</a></li>
                    <li><a href="#">iPad Air</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
        </div>

        <div class="add-to-card">
          <button class="btn-flat w-100"><h4>Add to Collection</h4></button>
        </div>
        <div class="center mt-2">
          <p style="font-size:10px">Support emerging artists with every single order</p>
        </div>
       <!--  <div class="product-desc mt-4">
          <span class="product-title"><h5>GIFTS</h5></span>
          <span class="product-caption">What people think</span>
          <span class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star grey"></i>
          </span>
        </div> -->
      </div>

    </div>

    <div class="col-8">
      <div class="container-fluid">
        <div class="cards-items">
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-t-shirt-1.png") %>)">
            T-SHIRTS</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-t-shirts-2.png") %>)">
            T-SHIRTS</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-hoodie.png") %>)">
            HOODIES</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-tote.png") %>)">
            BAGS</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-postcard.png") %>)">
            POSTCARDS</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-poster.png") %>)">
            POSTERS</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-handy.png") %>)">
            CELLPHONES</div>
          <div class="card-category-item" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_url("g-tables.png") %>)">
            TABLETS<i class="far fa-plus-square pt-1"></i></div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<br>


