<div class="container">
  <div class="menu-bar">
    <h5>Your collection cart</h5>
    <%= render "shared/search_form" %>
  </div>

  <div class="row">
    <div class="shopping-cart col-8">
      <!-- for old view render: "shared/shopping_cart_show/shopping_cart_overview" -->
      <%= render "shared/shopping_cart_show/cart_details" %>
    </div>


    <div class="col-4 mt-3">
      <%= render "shared/shopping_cart_show/order_form" %>
    </div>
  </div>


 <div id="multi-item-example" class="carousel slide carousel-multi-item mt-4" data-interval="10000">

    <div class="container">
    <div class="menu-bar">
      <h4>Things you might like:</h4>
      </div>
    <div class="row align-items-center my-4">
    <div class="col-1 d-flex justify-content-end">
      <a class="" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="col-10">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">


      <!--First slide-->
      <div class="carousel-item active">

        <div class="row align-items-center">
          <div class="col-2">
            <div class="card mb-2">
            <%= link_to @art_item do %>
              <%= image_tag 'multi_colored_abstract_painting_on_tablet.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-hoodie.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-postcard.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-poster.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-tote.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-tables.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row align-items-center">

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-poster.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-tote.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-handy.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>





          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-tables.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-hoodie.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>

          <div class="col-2">
            <div class="card mb-2">
            <%= link_to "#" do %>
              <%= image_tag 'g-postcard.png', class: "card-img-top" %>
            <% end %>
            </div>
          </div>


        </div>
      </div>
      <!--/.Second slide-->

         
    </div>
    </div>
    <!--/.Slides-->
    <div class="col-1">
     <a class="" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>

    </div>
  </div>
  </div>

  <!--/.Carousel Wrapper-->





</div>
