<div class="row" id="main-art-container">
  <div class="card-category" id="main-art-picture" style="background-image: url(<%= image_path @art.img_url  %>)">
    <div class="card-trip-infos" id="art-card-overlay">
      <img src="<%= image_path @art.img_url  %>" id="art-card-picture-shape" class="card-trip-user .mockup-square" />
    </div>
  </div>
</div>

<div class="row mb-4" id="card-mockup-container">
  <div class="col-2">
    <div class="card-mockup main active" style="background-image: url(<%= image_path @art.img_url %>)"></div>
  </div>
  <div class="col-2">
    <div class="card-mockup portrait" style="background-image: url(<%= image_url("art-show-02.png") %>)"></div>
  </div>
  <div class="col-2">
    <div class="card-mockup square" style="background-image: url(<%= image_url("art-show-03.png") %>)"></div>
  </div>
  <div class="col-2">
    <div class="card-mockup circle" style="background-image: url(<%= image_url("art-show-04.png") %>)"></div>
  </div>
</div>
