<div class="row">
  <div class="col-4">
    <div class="card-body p-4">
      <h5><%= @art_item.art.title %></h5>
      <p>by <%= @art_item.art.artist.first_name %> <%= @art_item.art.artist.last_name %></p>
      <div class="product-desc">
      <span class="product-title">
        <p><%= @art_item.format %></p></span>
        <p class="small-text-14">Description: Sweats finished with a modern fabric with a soft feel. Side slit makes it easy to move in. Light and comfortable in a flattering cut. 68% Cotton, 32% Polyester/ Rib: 78% Cotton, 22% Elastomultiester. Worldwide shipping available.</p>
        <span class="product-caption">What people think</span>
        <span class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star grey"></i>
        </span>
      </div>

      <div class="price mt-2">
        <p>
        <%= number_with_precision(@art_item.price, precision: 2) %> €</p>
      </div>
        <% if @existing_shopping_cart_item %>
        <%= simple_form_for [@art_item, @existing_shopping_cart_item] do |f| %>
              <div class="product-color">
            <h4>color</h4>
          <ul class="ul-color">
            <li><a href="#" class="black active"></a></li>
            <li><a href="#" class="grey"></a></li>
            <li><a href="#" class="white"></a></li>
            <li><a href="#" class="red"></a></li>
            <li><a href="#" class="green"></a></li>
            <li><a href="#" class="blue"></a></li>
          </ul>
        </div>
        <div class="product-size">
            <h4>SIZE</h4>
          <ul class="ul-size">
            <li><a href="#">XS</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#" class="active">L</a></li>
            <li><a href="#">XL</a></li>
          </ul>
        </div>
        <div class="textile">
          <nav class="dropdownmenu">
            <ul>
              <li><a href="#">SELECT W/M ▾</a>
                <ul id="submenu">
                  <li><a href="#">T-shirt (w)</a></li>
                  <li><a href="#">T-shirt (m)</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
        <% end %>
      <% else %>
      <%= simple_form_for [@art_item, @shopping_cart_item] do |f| %>

<!-- ---------DROPDOWN MENU--------- -->
      <div class="product-color">
            <h4>color</h4>
          <ul class="ul-color">
            <li><a href="#" class="black active"></a></li>
            <li><a href="#" class="grey"></a></li>
            <li><a href="#" class="white"></a></li>
            <li><a href="#" class="red"></a></li>
            <li><a href="#" class="green"></a></li>
            <li><a href="#" class="blue"></a></li>
          </ul>
        </div>
        <div class="product-size">
            <h4>SIZE</h4>
          <ul class="ul-size">
            <li><a href="#">XS</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#" class="active">L</a></li>
            <li><a href="#">XL</a></li>
          </ul>
        </div>
        <div class="textile">
          <nav class="dropdownmenu">
            <ul>
              <li><a href="#">SELECT W/M ▾</a>
                <ul id="submenu">
                  <li><a href="#">T-shirt (w)</a></li>
                  <li><a href="#">T-shirt (m)</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

      <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
      <div class="center">
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
      </div>
      <% end %>
      <% end %>

      <P class="small-text-10 mt-2">Support emerging artists with every single order</P>
    </div>
  </div>

<!-- ----------IMAGE CARD----------- -->
      <div class="col-8">
        <div class="card-category-hoodie" style="background-image: url(<%= image_url("plain-hoodie.png") %>)">
        <img src="<%= image_path @art_item.art.img_url  %>" />
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <p id="hidden">Quantity: <%= @art_item.quantity %></p> -->
