<div class="row">
  <div class="col-4">
    <div class="card-body p-4">
      <h5><%= @art_item.art.title %></h5>
      <p>by <%= @art_item.art.artist.first_name %> <%= @art_item.art.artist.last_name %></p>
      <div class="product-desc">
      <span class="product-title">
        <p><%= @art_item.format %></p></span>
        <p class="small-text-14">Description: 13x18 cm | 5⅛ x 7⅛ in printed on 265 g natural art paper with a matt, uncoated finish and lightly textured surface, or with high glossy finish ensuring a rich and vibrant display of colours. Carefully wrapped in silk paper and packed in a protective envelop. Worldwide shipping available.</p>
        <span class="product-caption">What people think</span>
        <span class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star grey"></i>
        </span>
      </div>

      <div class="price mt-2">
        <p>
        <%= number_with_precision(@art_item.price, precision: 2, delimiter: ",") %> €</p>
      </div>
        <% if @existing_shopping_cart_item %>
        <%= simple_form_for [@art_item, @existing_shopping_cart_item] do |f| %>
        <!-- ---------DROPDOWN MENU--------- -->
      <div class="prints">
        <nav class="dropdownmenu">
          <ul>
            <li><a href="#">FORMAT & TEXTURE ▾</a>
              <ul id="submenu">
                <li><a href="#">Glossy</a></li>
                <li><a href="#">Matte</a></li>
                <li><a href="#">Horizontal</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
        <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
        <% end %>
      <% else %>
      <%= simple_form_for [@art_item, @shopping_cart_item] do |f| %>

<!-- ---------DROPDOWN MENU--------- -->
      <div class="prints">
        <nav class="dropdownmenu">
          <ul>
            <li><a href="#">FORMAT & TEXTURE ▾</a>
              <ul id="submenu">
                <li><a href="#">Glossy</a></li>
                <li><a href="#">Matte</a></li>
                <li><a href="#">Horizontal</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
      <div class="center">
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
      </div>
      <% end %>
      <% end %>

      <P class="small-text-10 mt-2">Support emerging artists with every single order</P>
    </div>
  </div>

<!-- ----------IMAGE CARD----------- -->
      <div class="col-8">
        <div class="card-category-postcard" style="background-image: url(<%= image_url("plain-postcard.png") %>)">
        <img src="<%= image_path @art_item.art.img_url  %>" />
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <p id="hidden">Quantity: <%= @art_item.quantity %></p> -->
