<% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>
  <div class="cart-product mt-3">
    <%= image_tag image_url shopping_cart_item.art_item.art.img_url %>
    <div class="cart-product-infos">
      <h2><%= shopping_cart_item.art_item.art.title %></h2>
      <p><strong>Artist: </strong> <%= shopping_cart_item.art_item.art.artist.first_name %> <%= shopping_cart_item.art_item.art.artist.last_name %> </p>
      <div class="cart-row">
        <p><%= shopping_cart_item.art_item.format.capitalize %></p>
        <p><%= shopping_cart_item.quantity %></p>
        <p>€ <%= shopping_cart_item.art_item.price %></p>
<!--               <p><strong>Type: </strong><%= shopping_cart_item.art_item.format %></p>
        <p><strong>Quantity:</strong><%= shopping_cart_item.quantity %></p>
        <p><strong>Price per Piece:</strong> <%= shopping_cart_item.art_item.price %> €</p> -->
      </div>

    </div>
  </div>
<% end %>
