<div class="row">
  <div class="col-4">
    <div class="card-body p-4">
      <h5><%= @art_item.art.title %></h5>
      <p>by <%= @art_item.art.artist.first_name %> <%= @art_item.art.artist.last_name %></p>
      <div class="product-desc">
      <span class="product-title"><p><%= @art_item.format %></p></span>
      <p class="small-text-14">Mark the difference carrying a selective working tool. High resolution, UV printing, printed on the front. Coating scratch-resistant, matt, hard-wearing. 100% Silikon</p>
      <span class="product-caption">What people think</span>
      <span class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star grey"></i>
      </span>
    </div>

    <div class="price mt-2">
      <p>
      <%= number_with_precision(@art_item.price, precision: 2) %> €</p>
    </div>
      <% if @existing_shopping_cart_item %>
        <%= simple_form_for [@art_item, @existing_shopping_cart_item] do |f| %>
        <!-- ---------DROPDOWN MENU--------- -->
      <div class="devices">
        <nav class="dropdownmenu">
          <ul>
            <li><a href="#">TABLET CASES ▾</a>
              <ul id="submenu">
                <li><a href="#">iPad </a></li>
                <li><a href="#">iPad Pro</a></li>
                <li><a href="#">iPad Air</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
        <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
        <% end %>
      <% else %>
      <%= simple_form_for [@art_item, @shopping_cart_item] do |f| %>

<!-- ---------DROPDOWN MENU--------- -->
      <div class="devices">
        <nav class="dropdownmenu">
          <ul>
            <li><a href="#">TABLET CASES ▾</a>
              <ul id="submenu">
                <li><a href="#">iPad </a></li>
                <li><a href="#">iPad Pro</a></li>
                <li><a href="#">iPad Air</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <%= f.input :quantity, input_html: { min: "1", value: 1 } %>
      <div class="center">
        <%= f.submit "ADD TO CART",:class => "btn btn-flat", style: "width:100%" %>
      </div>
      <% end %>
      <% end %>

      <P class="small-text-10 mt-2">Support emerging artists with every single order</P>
    </div>
  </div>

<!-- ----------IMAGE CARD----------- -->
  <div class="col-8">
    <div class="card-category-ipad" id="main-art-picture" style="background-image: url(https://images.unsplash.com/photo-1589739900266-43b2843f4c12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1278&q=80)">
    <img src="<%= image_path @art_item.art.img_url  %>" />
    </div>
  </div>

</div>

     <!--  <nav class="dropdownmenu">
        <ul>
          <li><a href="#">LAPTOP CASES ▾</a>
            <ul id="submenu">
              <li><a href="#">MacBook Air</a></li>
              <li><a href="#">MacBook Pro 13"</a></li>
              <li><a href="#">MacBook Pro 15"</a></li>
            </ul>
          </li>
        </ul>
      </nav> -->

<!-- <p id="hidden">Quantity: <%= @art_item.quantity %></p> -->
