  <section id="wrapper">
      <div class="layer bottom">
        <div class="content-wrap">          
          <%= link_to image_tag('am-logo.png', width: 70), root_path, class: "home-logo" %>
          <%= image_tag("home-banner-items.png", :alt => "rss feed") %>
          <div class="container">
            <div class="container">
              <h1 class="title">Digital <strong>artwork</strong> + artist-made <strong>gift</strong> collection!</h1>
              <p class="p-title">Because art takes reality by surprise.</p>
              <%= link_to "DISCOVER ART", arts_path, class: "btn btn-flat" %>
              <%= link_to "SELECTIVE GIFT SHOP", art_items_path, class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      </div>

      <div class="layer top">
          <div class="content-wrap">
            <%= link_to image_tag('am-logo.png', width: 70), root_path, class: "home-logo" %>
            <%= image_tag("home-banner-art.png", :alt => "rss feed") %>
              <div class="container">
                <div class="container">
                  <h1 class="title">Digital <strong>artwork</strong> + artist-made <strong>gift</strong> collection!</h1>
                  <p class="p-title">Because art takes reality by surprise.</p>
                  <%= link_to "DISCOVER ART", arts_path, class: "btn btn-flat" %>
                  <%= link_to "SELECTIVE GIFT SHOP", art_items_path, class: "btn btn-flat" %>
                </div>
             </div>               
         </div> 
      </div>       
      <div class="handle"></div> 
    </section>

<div class="container">
  <%= link_to image_tag('am-logo.png', width: 70), root_path, class: "home-logo" %>
  <div class="event" style="background-image: linear-gradient(rgba(75,46,21,0.4),rgba(255,255,255,0.4)), url(https://images.unsplash.com/photo-1512998844734-cd2cca565822?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1563&q=80);">
    <h4>Can you hear us now?</h4>
    <h5><strong>05.08</strong>  12:00  artist-made <strong>zoom</strong></h5>
    <p>Meet ▶︎ Lulu . Leon . Max . Lemon . Sami, and their motivation behind every pixel !</p>
    <a class="btn btn-flat" href="#">Stay Tuned</a>
  </div>

  <div class="mission-container">
    <h4>Our mission . . . </h4>
    <p>We match lovers of art and design items with creative minds: easy access to limited editions of Art and Design items to collect, as a gift or for everyday use. Creators get a digital monetization channel and a fair share of the commercial value for their work and its use along the complete lifecycle.</p>
    <br>
    <h4>How it works</h4>
    <p>Creators make their work available via our platform and choose whether they want to offer it as an open or limited edition. They choose whether they want to make it available stand alone or for a combination with design items which can be limited in number. Each piece is authenticated with a Non Fungible Token (NFT). This allows an efficient redistribution of revenues including royalties from potential future trading of their work. Art and Design lovers select their favorite piece of art. They choose among open and limited editions. They can build their collection or combine artwork with useful everyday items, like a phone cover or a T-shirts and thus create unique design items.</p>
  </div>

  <div class="home-icons" style="background-image: url(<%= image_url("home-icons5.png") %>)">
  </div>


</div>

<div class="home-footer">
  <%= render 'shared/footer' %>
</div>









