<div class="menu-bar">
  <h5>Your <strong>Artwork Collection</strong></h5>
  <ul class="list-inline tabs-underlined">
    <li><%= link_to "ART", arts_path, class: "tab-underlined active" %></li>
    <li><%= link_to "ARTIST", artists_path, class: "tab-underlined" %></li>
    <li><%= link_to "THEME", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "FORM", root_path, class: "tab-underlined" %></li>
    <li><%= link_to "PRICE", root_path, class: "tab-underlined" %></li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="cards">
         <% @arts.each do |art| %>
            <% if current_user.favorited?(art) %>
                <% current_user.favorited?(art) ? @heart_icon = "<i class=\"fas fa-heart\"></i>" : @heart_icon = "<i class=\"far fa-heart\"></i>" %>
                <%= link_to art_path(art) do %>
                    <div class="image">
                    <%= image_tag art.img_url unless art.img_url.nil? %>
                    <%= link_to art_items_path(art_id: art.id), class: "btn btn-gift" do %>
                      <i class="fas fa-gift"></i>
                    <% end %>
                    <%= link_to "#", class: "btn btn-fav", data: { artid: art.id } do %>
                        <%= sanitize @heart_icon %>
                    <% end %>
                    <%= link_to one_shopping_cart_item_path(art_id: art.id), class: "btn btn-cart", method: "post" do %>
                      <i class="fas fa-plus"></i>
                    <% end %>

                    <h5><%= art.title %></h5>
                    <p><%= art.description %></p>
                    </div>
                <% end %>
            <% end %>
         <% end %>
      </div>
    </div>
  </div>
</div>

