<div class="container">
<div class="container">
  <div class="menu-bar">
  <h5>Visualize your <strong>selection</strong></h5>
  <%= render "shared/search_form" %>
</div>


    <div class="row">
      <!-- ----------IMAGE CARD----------- -->
        <div class="col-8">
          <div class="card-category" id="main-art-picture" style="background-image: url(<%= image_path @art.img_url  %>)">
            <div id="art-card-overlay">
              <img src="<%= image_path @art.img_url  %>" id="art-card-picture-shape" class="card-trip-user .mockup-square" />
            </div>
          </div>

          <div class="row mb-4" id="card-mockup-container">
            <div class="col-2">
              <div class="card-mockup main active" style="background-image: url(<%= image_path @art.img_url %>)"></div>
              </div>
            <div class="col-2">
              <div class="card-mockup portrait" style="background-image: url(<%= image_url("art-show-02.png") %>)"></div>
            </div>
            <div class="col-2">
              <div class="card-mockup square" style="background-image: url(<%= image_url("art-show-03.png") %>)"></div>
            </div>
            <div class="col-2">
              <div class="card-mockup circle" style="background-image: url(<%= image_url("art-show-04.png") %>)"></div>
            </div>
            </div>
          </div>

    <!-- ---------- FORM ----------- -->
    <div class="col-4">
      <div class="card-body p-4">
        <h5 class="small-text-16"><%= @art.title %></h5>
        <p>by <%= @art.artist.first_name %> <%= @art.artist.last_name %></p>
        <div class="product-desc">
        <span class="product-title"><p><%= @art.category %></p></span>
  <!--       <p class="small-text-14"><%= @art.description %> In this craft or sullen art, exercised in the still night, when only the moon rages and the lovers lie abed, artists create singing light, not for ambition or bread, but from their most secrect heart for the lovers of art. </p>
   -->
        <p class="small-text-14">In this craft or sullen art, exercised in the still night, when only the moon rages and the lovers lie abed, artists create singing light, not for ambition or bread, but from their most secrect heart for the lovers of art. </p>

          <div class = "price mt-2">
            <p><i class="fas fa-euro-sign"></i>
            <span id="price"><%= @digital_art_item.price %></span></p>
          </div>

            <%= simple_form_for [@digital_art_item, @shopping_cart_item] do |f| %>
              <%= f.input :quantity, as: :hidden, input_html: { value: 1 } %>
            <div class="center">
              <%= f.submit "ADD TO CART", :class => "btn btn-flat" %>
            </div>
            <% end %>
        </div>

        <!-- ---------- GIFT ICONS ----------- -->
        <p class="small-text-14 mt-2">Explore our <strong>gift shop</strong> and <strong>customize</strong> the perfect gift with a touch of art</p>

        <div class="row">
          <div class="col item" id="card-art-item-column">
            <div class="container-fluid">
              <div class="cards-items">
                <%= link_to art_item_path(@shirt) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("t-shirt-w.png") %>)">
                      T-SHIRTS (W)</div>
                  <% end %>
                  <%= link_to art_item_path(@shirt) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("t-shirt-m.png") %>)">
                      T-SHIRTS (M)</div>
                  <% end %>
                  <%= link_to art_item_path(@hoodie) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("hoodie.png") %>)">
                      HOODIES</div>
                  <% end %>
                  <%= link_to art_item_path(@bag) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("tote.png") %>)">
                      BAGS</div>
                  <% end %>
                  <%= link_to art_item_path(@postcard) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("postcard.png") %>)">
                      POSTCARDS</div>
                  <% end %>
                  <%= link_to art_item_path(@poster) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("poster.png") %>)">
                      POSTERS</div>
                  <% end %>
                  <%= link_to art_item_path(@cellphone) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("iphone.png") %>)">
                      CELLPHONES</div>
                  <% end %>
                  <%= link_to art_item_path(@tablet) do %>
                  <div class="card-art-icon" style="background-image: linear-gradient(rgba(250,250,250,0.8), rgba(250,250,250,0.8)), url(<%= image_url("ipad.png") %>)">
                      TABLETS</div>
                  <% end %>
                </div>
                <div class="center mt-2">
                <p style="font-size:10px">Support emerging artists with every single order</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>






